<aside class="main-sidebar">

    <!-- sidebar: style can be found in sidebar.less -->
    <section class="sidebar">

      <!-- Sidebar user panel (optional) -->
      <div ng-show="main.loaded" class="user-panel">
        <div class="pull-left" style='color: white;'>
          <p><%= user_info.username %></p>
          <%if (user_info.role_type_code.short_name != 'admin') { %>
            Sisa cuti Anda <%if (user_info.employee_info.remaining_days_off >= 6) { %>
            <label class="label label-success" ><%= user_info.employee_info.remaining_days_off %></label>
            <% } else if(user_info.employee_info.remaining_days_off >= 3 && user_info.employee_info.remaining_days_off <= 6) { %>
            <label class="label label-warning" ><%= user_info.employee_info.remaining_days_off %></label>
            <% } else { %>
              <label class="label label-danger" ><%= user_info.employee_info.remaining_days_off %></label>
            <% } %>
            <% } %>
        </div>
      </div>
      <%if (user_info.role_type_code.short_name != 'admin') { %>
      <div class="current-financial-month-year">
          <div class="pull-left" style='color: white;'>
              Bulan/Tahun Keuangan Saat ini
          </div>
      </div>
      
      <form action="#" method="get" class="sidebar-form">
        
        <div class="select-group">
            <select class="form-control select2" id="selected_transactions" name="selected_transactions" ng-model="main.selected_transactions._id" ng-select2 placeholder="Pilih" required ng-change="main.changeSelected(main.selected_transactions._id)">
                <option></option>
                <option ng-repeat="x in main.month_year_financials" value="{{ (x._id) }}">{{ x.year+'/'+x.month }}</option>
            </select>
        </div>
      </form>
      <% } %>
      <!-- Sidebar Menu -->
      <ul class="sidebar-menu" data-widget="tree">
        <li class="header">Menu</li>
        <!-- Optionally, you can add icons to the links -->
        <li class="treeview" ui-sref-active="treeview active">
          <a href="javascript:void(0)">
            <i class="fa fa-group"></i> <span>Karyawan</span>
            <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
          </a>
          <ul class="treeview-menu">
            <li ui-sref-active="active"><a ui-sref="employee"><i class="fa fa-circle-o"></i> List Karyawan</a></li>
            <li ui-sref-active="active"><a ui-sref="account-user"><i class="fa fa-circle-o"></i> List Penghargaan</a></li>
          </ul>
        </li>
        <li class="treeview" ui-sref-active="treeview active">
          <a href="javascript:void(0)">
            <i class="fa fa-bullhorn"></i> <span>Pengumuman</span>
            <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
          </a>
          <ul class="treeview-menu">
            <li ui-sref-active="active"><a ui-sref="announcement"><i class="fa fa-circle-o"></i> List Pengumuman</a></li>
          </ul>
        </li>
        <li class="treeview" ui-sref-active="treeview active">
          <a href="javascript:void(0)">
            <i class="fa fa-envelope-o"></i> <span>Permintaan Cuti</span>
            <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
          </a>
          <ul class="treeview-menu">
            <li ui-sref-active="active"><a ui-sref="paid-leave"><i class="fa fa-circle-o"></i> List Aplikasi</a></li>
            <li ui-sref-active="active" ng-if="main.request_leave_count"><a ui-sref="paid-leave-request"><i class="fa fa-circle-o"></i> List Aplikasi Request</a></li>
          </ul>
        </li>
        <li class="treeview" ui-sref-active="treeview active">
          <a href="javascript:void(0)">
            <i class="fa fa-money"></i> <span>Management Gaji</span>
            <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
          </a>
          <ul class="treeview-menu">
            <li ui-sref-active="active"><a ui-sref="salary"><i class="fa fa-circle-o"></i> List Gaji</a></li>
            <li ui-sref-active="active"><a ui-sref="setting-permission"><i class="fa fa-circle-o"></i> List Riwayat Penggajian</a></li>
          </ul>
        </li>
        <li class="treeview" ui-sref-active="treeview active">
          <a href="javascript:void(0)">
            <i class="fa fa-clock-o"></i> <span>Kehadiran</span>
            <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
          </a>
          <ul class="treeview-menu">
            <li ui-sref-active="active"><a ui-sref="setting-level"><i class="fa fa-circle-o"></i> List Kehadiran</a></li>
          </ul>
        </li>
        <li class="treeview" ui-sref-active="treeview active">
          <a href="javascript:void(0)">
            <i class="fa fa-database"></i> <span>Master</span>
            <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
          </a>
          <ul class="treeview-menu">
            <li ui-sref-active="active"><a ui-sref="departement"><i class="fa fa-circle-o"></i> List Departement</a></li>
            <li ui-sref-active="active"><a ui-sref="currentfinancialmonthyear"><i class="fa fa-circle-o"></i> List Bulan/Tahun Keuangan</a></li>
            <li ui-sref-active="active"><a ui-sref="category-paid-leave"><i class="fa fa-circle-o"></i> List Kategory Cuti</a></li>
            <li ui-sref-active="active"><a ui-sref="setting-level"><i class="fa fa-circle-o"></i> List Hari Libur</a></li>
          </ul>
        </li>
        <li ui-sref-active="active"><a ui-sref="setting"><i class="fa fa-cog"></i><span> Setting</span></a></li>
        <li><a href="/logout"><i class="fas fa-sign-out-alt"></i><span> Logout</span></a></li>
      </ul>
      <!-- /.sidebar-menu -->
    </section>
    <!-- /.sidebar -->
  </aside>