<!DOCTYPE html
  PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
<style>
body {
  margin: 18pt 18pt 24pt 18pt;
}

* {
  font-family: helvetica;
}

p {
    font-size: 16px;
    font-weight: bold;
}

.pt {
    font-size: 10px;
    text-align: right;
    padding-right: 75px;
}

.no-border {
    border-spacing: 0px;
}

td {
  font-size: 10px;
}

th {
  font-size: 10px;
}

.heading table {
    width: 100%;
}

.heading .htd {
    width: 50%;
}

.body table {
    width: 100%;
}

.body .tdb {
    width: 50%;
}

.footer {
    width: 100%;
}

.footer .ttd {
    text-align: right;
    vertical-align: top;
    padding-right: 50px;
    height:100px;
}

.tdt{
    font-size: 14px;
    font-weight: bold;
    text-align: right;
    padding-right: 5px;
}

.content table {
    width: 100%;
    border: 1px solid black;
}

.content thead tbody {
    width: 100%;
}

table.tb {
    margin-top: 20px;
    margin-bottom: 20px;
}

.tb tr:first-child th {
    border: solid black 1px;;
}

.tb tr:last-child td {
    border: solid black 1px;;
}

.thc {
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    height : 55px;
    background : lightcyan; 
}

.thr {
    border-bottom: 1px solid black;
    text-align: center;
    /* width: 25%; */
}

.tdl{
    border-right: 1px solid black;
    border-left: 1px solid black;
    padding-left: 5px;
    text-align: center;
}

.tdr{
    text-align: left;
    padding-left: 5px;
    border-right: solid black 1px;
}

.tdc{
    width: 50%;
    text-align: left;
    border-right: 1px solid black;
    padding-left: 5px;
}

.tdg {
    text-align: right;
    padding-right: 5px;
    border-top: 1px solid black;
    border-right: 1px solid black;
    border-left: 1px solid black;
}

.tdgt {
    text-align: right;
    padding-right: 5px;
}

.header {
    text-align: center;
}

.header h1,
.header h2,
.header h3,
.header h4,
.header h5,
.header h6 {
    margin: 0px;
}

hr.header {
    border: 2px solid black;
}

h3 {
    margin: 0px;
}

/* ==== Table Detail ==== */
table.table-detail {
    margin-top: 10px;
    margin-bottom: 20px;
}

table.table-detail td {
    border: 1px solid black;
}

table.table-detail thead td {
    font-weight: bold;
}

table.table-detail tfoot td {
    font-weight: normal;
}

table.table-detail tbody td {
    border-top: 0px solid black;
    border-bottom: 0px solid black;
    border-left: 1px solid black;
    border-right: 1px solid black;
}

/* ==== Table Footer ==== */
table.table-footer {
    width: 100%;
}

table.table-footer td.col-sign {
    width: 30%;
    height: 100px;
    border-bottom: 1px solid black
}

.col-id {
    width: 5%;
}

.col-price {
    width: 15%;
}

.text-left {
    text-align: left;
}

.text-right {
    text-align: right;
}

.text-center {
    text-align: center;
}

.text-top {
    
    vertical-align: top;
}

.text-padding {
	padding-top: 20px;
}

.text-bottom {
    vertical-align: bottom;
}

.ref-no {
    font-size: 10px;
}

.info-container {
    margin-top: 50px;
}

.clear {
    clear: both;
}

.info {
    margin-top: 50px;
}

p{
    margin: 2px;
    font-size: 15px;
    font-weight: normal;
}

.bold-font{
	font-weight: bold;
}

p.tab-left{
	margin-left: 10%;
}
* {
  box-sizing: border-box;
}

</style>
<script src="http://localhost:8081/bower_components/jquery/dist/jquery.min.js"></script>
</head>
<body>

<div class="header">
    <h1>{{ this.Setting.company_name }}</h1>
    <h3>{{ this.Setting.company_tagline }}</h3>
    <h6>{{ this.Setting.company_address }}</h6>
    <h6>{{ this.Setting.company_phone }}</h6>
</div>
<hr class="header" />
<div style="margin-top: 30px"></div>

<div class="heading">
    <table style="width: 50%;">
        <tr>
			<td>
				<p>Nama Karyawan </p>
			</td>
			<td>
				<p>:</p>
			</td>
			<td>
				<p>{{this.employee_info.fullname}}</p>
			</td>
		</tr>
		<tr>
			<td>
				<p>Jabatan </p>
			</td>
			<td>
				<p>:</p>
			</td>
			<td>
				<p>{{this.employee_info.employee_type_info.label}}</p>
			</td>
		</tr>
		<tr>
			<td>
				<p>Bulan & tahun </p>
			</td>
			<td>
				<p>:</p>
			</td>
			<td>
				<p>{{this.transaction_date}}</p>
			</td>
		</tr>
    </table>
</div>

<table class="info" cellspacing="0" width="100%" border="1">
	<thead align="center">
        <tr>
			<th class="thc" colspan="2">
				<p class="bold-font">Upah </p>
			</th>
			<th class="thc" colspan="2">
				<p class="bold-font">Potongan </p>
			</th>
		</tr>
    </thead>
	<tbody>
		<tr>
			<td>
				<p>Gaji Pokok</p>
			</td>
			<td>
				<p>{{this.basic_salary}},</p>
			</td>
			<td>
				<p>Potongan Bulanan</p>
			</td>
			<td>
				<p>{{this.basic_salary}}</p>
			</td>
		</tr>
		<tr>
			<td>
				<p>Tunjangan Jabatan</p>
			</td>
			<td>
				<p>{{this.positional_allowance}},</p>
			</td>
			<td>
				<p>Potongan Beras</p>
			</td>
			<td>
				<p>{{this.basic_salary}}</p>
			</td>
		</tr>
		<tr>
			<td>
				<p>Tunjangan Tetap</p>
			</td>
			<td>
				<p>{{this.fixed_allowance}},</p>
			</td>
			<td>
				<p></p>
			</td>
			<td>
				<p></p>
			</td>
        </tr>
        <tr>
            <td>
                <p>-</p>
            </td>
            <td>
                <p></p>
            </td>
			<td>
				<p></p>
			</td>
			<td>
				<p></p>
			</td>
        </tr>
		{{#each allowances_deductions}}
		<tr>
			<td>
				<p>{{ this.allowances.name }}</p>
			</td>
			<td>
				<p>{{ this.allowances.amount }}</p>
            </td>
            <td>
                <p>{{ this.deductions.name }}</p>
            </td>
            <td>
                <p>{{ this.deductions.amount }}</p>
            </td>
		</tr>
        {{/each}}
        <tr>
            <td colspan="3" class="tdt">{{ this.net_salary.name }}</td>
            <td class="tdt">{{  this.net_salary.amount }}</td>
        </tr>
	</tbody>
</table>
<table class="info" style="width: 50%;">
	<tr>
		<td colspan="2">
			<p>Terbilang:  </p>
		</td>
	</tr>
</table>
</body>
</html>
