<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper" ng-init="vm.createAllowanceDeduction()">
        <!-- Content Header (Page header) -->
        <section class="content-header">
            <h1>
                Tambah/Ubah
            </h1>
            <ol class="breadcrumb">
                <li><a ui-sref="salary"><i class="fa fa-dashboard"></i> List Gaji </a></li>
                <li class="active">Detail</li>
            </ol>
        </section>
    
        <!-- Main content -->
        <section class="content container-fluid">
            <!-- left column -->
            <!-- general form elements -->
            <h4>Tunjangan Tetap</h4>
            <div class="box">
                <div box-overlay is-loading="vm.ls.get('loading').get()"></div>
                <!-- form start -->
                <form role="form" name="myForm" ng-submit="myForm.$valid && vm.submitMultiple()">
                    <div class="box-body">
                        <div class="row">
                            <div class="form-group col-md-12">
                                <label for="exampleInputEmail1">Karyawan*</label>
                                <tags-input ng-model="vm.tempEmployeeTags" add-on-paste="true">
                                    <auto-complete source="vm.loadEmployeeMultiple($query)"></auto-complete>
                                </tags-input>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="table-responsive">
                                    <table class="table table-bordered">
                                    <tr>
                                        <td align="right">Tunjangan Tidak Tetap</td>
                                        <td align="right">{{ vm.priceDetail.allowances_temp | currency:"Rp. ":2 }}</td>
                                    </tr>
                                    <tr>
                                        <td align="right">Potongan</td>
                                        <td align="right">{{ vm.priceDetail.deductions_temp | currency:"Rp. ":2 }}</td>
                                    </tr>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <!-- ./row -->
                    </div>
                    <!-- /.box-body -->
                    <div class="box-footer">
                        <div class="pull-right">
                            <button type="button" class="btn btn-default" ng-click="user">Batal</button>
                            <button type="submit" class="btn btn-primary">Simpan</button>
                        </div>
                    </div>
                </form>
            </div>
            <!-- /.box -->
            <h4 ng-if="vm.groups">Deskripsi Gaji</h4>
            <div class="box" ng-if="vm.groups">
                <div box-overlay is-loading="vm.ls.get('loadingsalary-descriptions').get()"></div>
                <div class="box-body">
                    <!-- Group Start -->
                    <div class="row" ng-repeat="group in vm.groups | orderBy:'name':false">
                        <label class="page-header col-sm-12" style="h4">{{ group.name }}</label>
                        <div class="col-sm-12">
                            <div class="table-responsive">
                                <table class="table table-bordered">
                                    <tr>
                                        <th style="width: 10px">#</th>
                                        <th ng-click="vm.sortByAngular('name')">Tunjangan
                                            <div class="pull-right">
                                                <i class="fa" ng-class="vm.getIconSort('name')"></i>
                                            </div>
                                        </th>
                                        <th>Jumlah</th>
                                        <th>Action</th>
                                    </tr>
                                    <tr ng-repeat="x in group.detail | orderBy:vm.propertyName:vm.reverse">
                                        <td>{{ $index + 1 }}</td>
                                        <td>{{ x.name }} </td>
                                        <td>{{ x.amount | currency:"Rp. ":2 }}</td>
                                        <td>
                                            <button type="button" class="btn btn-warning" ng-scroll-to="#salary_descriptions" ng-click="vm.editSalaryDescription(x)"><i class="fa fa-pencil"></i></button>
                                            <button type="button" class="btn btn-danger" ng-click="vm.deleteDeskripsi(x)"><i class="fa fa-trash"></i></button>
                                        </td>
                                        </tr>
                                        <tr>
                                            <td colspan="2" class="text-right text-bold">Total</td>
                                            <td>
                                                <b>{{ group.total | currency:"Rp. ":2 }}</b>
                                            </td>
                                        </tr>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <!-- /Group end -->
                        <!-- Button Tambah Deskripsi -->
                        <div class="row">
                            <div class="col-sm-12">
                                <button type="button" class="btn btn-primary" ng-scroll-to="#salary_descriptions" ng-click="vm.newDeskripsi();">Tambah Deskripsi</button>
                            </div>
                        </div>
                        <!-- /.row -->
                    </div>
                    <!-- /.box-body -->
            </div>
            
            <!-- Box Salary Description -->
            <div class="box" id="salary_descriptions">
                <div box-overlay is-loading="vm.ls.get('loadingsalary-descriptions').get()"></div>
                <div class="box-header with-border">
                    <h3 class="box-title">Tambah/Edit</h3>
                </div>
                <!-- /.box-header -->
                <!-- form start -->
                <div class="box-body">
                    <div class="row">
                        <form role="form" id="formDeskripsi" name="formDeskripsi" ng-submit="formDeskripsi.$valid && vm.addAllowanceDeduction()">
                            <div class="form-group col-sm-6">
                                <label>Nama Tunjangan* </label>
                                <select class="form-control select2" id="salary_description_id" name="salary_description_id" ng-model="vm.tempSalaryDescription.salary_description_id" ng-select2 placeholder="Pilih Tunjangan" required  ng-change="vm.loadSalaryDescriptionDetail(vm.tempSalaryDescription.salary_description_id)">
                                    <option ng-repeat="x in vm.salary_descriptions" value="{{ (x._id) }}">{{ x.name }}</option>
                                </select>
                            </div>
            
                            <div class="form-group col-sm-6">
                                <label for="exampleInputEmail1">Jumlah*</label>
                                <input type="text" class="form-control" id="amount" placeholder="Masukkan Jumlah" ng-model="vm.tempSalaryDescription.amount" required>
                            </div>
                            
                            <div class="form-group col-sm-12">
                                <div class="text-right text-bold h3">Total : {{ vm.tempSalaryDescription.amount | currency:"Rp. ":0 }}</div>
                            </div>
                        </form>
                    </div>
                    <!-- /.row -->
                </div>
                <!-- /.box-body -->
                <div class="box-footer text-right">
                    <button type="button" class="btn btn-default" ng-click="vm.newDeskripsi();">Batal</button>
                    <button type="submit" form="formDeskripsi" class="btn btn-primary">Simpan</button>
                </div>
            </div>
        </section>
        <!-- /.content -->
    </div>
    <!-- /.content-wrapper -->