<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper" ng-init="vm.init()">
        <!-- Content Header (Page header) -->
        <section class="content-header">
            <h1>
                {{ vm.title }}
                <a ui-sref="announcement-create" class="btn btn-primary"><i class="fa fa-plus"></i></a>
            </h1>
            <ol class="breadcrumb">
                <li class="active"><i class="fa fa-dashboard"></i> {{ vm.title }}</li>
            </ol>
        </section>
        
        <!-- Main content -->
        <section class="content container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <!-- Search Widget -->
                    <div class="box">
                        <div class="box-header with-border">
                            <h3 class="box-title">Pencarian</h3>
                        </div>
                        <!-- /.box-header -->
                        <div class="box-body">
                            <div class="row">
                                <div class="col-xs-12">
                                    <form role="form" ng-submit="vm.doSearch()">
                                        <div class="form-group">
                                            <label for="exampleInputEmail1">Kata Kunci</label>
                                            <input type="text" class="form-control" id="keyword" placeholder="Enter Kata Kunci" ng-model="vm.search.keyword">
                                        </div>
                                        <div class="pull-right">
                                            <button type="button" class="btn btn-default" ng-click="vm.search.keyword = ''; vm.doSearch()">Clear</button>
                                            <button type="submit" class="btn btn-primary">Cari</button> 
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                        <div box-overlay is-loading="vm.ls.get('loading').get()"></div>
                    </div>
                    <div class="box-footer text-right">
                        <button type="button" class="btn btn-default" ng-click="vm.init()">Batal</button>
                        <button type="submit" class="btn btn-primary" ng-click="vm.submitPublished()">Simpan</button>
                    </div>
                    <!-- /.box -->
                    <div class="box">
                        <div box-overlay is-loading="vm.ls.get('loading').get()"></div>
                        <div class="box-body">
                            <div class="row">
                                <div class="col-xs-12">
                                    <paging current-page="vm.paginator.current_page" last-page="vm.paginator.last_page" show-page="vm.showPage(page)"></paging>
                                    <div class="table-responsive">
                                        <table class="table table-bordered">
                                            <tr>
                                                <th style="width: 10px">#</th>
                                                <th ng-click="vm.sortBy('title')">Judul <sortable order="vm.getOrderBy('title')"></sortable></th>
                                                <th ng-click="vm.sortBy('short_description')">Deskripsi Singkat <sortable order="vm.getOrderBy('short_description')"></sortable></th>
                                                <th ng-click="vm.sortBy('is_published')">Publish <sortable order="vm.getOrderBy('is_published')"></sortable></th>
                                                <th>Action </th>
                                            </tr>
                                            <tr ng-repeat="x in vm.list">
                                                <td>{{ $index + 1 }}</td>
                                                <td>{{ x.title }}</td>
                                                <td>{{ x.short_description }}</td>
                                                <td class="text-center">
                                                    <input type="checkbox" id="published" ng-model="x.is_published" value="1" ng-checked="x.is_published" ng-change="vm.add(x)">
                                                </td>
                                                <td class="text-center">
                                                    <a ui-sref="announcement-detail({id: x._id})">
                                                        <button type="button" class="btn btn-warning" title="Ubah Data">
                                                        <i class="fa fa-pencil"></i>
                                                        </button>
                                                    </a>
                                                </td>
                                            </tr>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>            
                    <!-- /.box -->
                </div>
            </div>
    
        </section>
        <!-- /.content -->
    </div>
    <!-- /.content-wrapper -->