<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper" ng-init="vm.create()">
        <!-- Content Header (Page header) -->
        <section class="content-header">
            <h1>
                Tambah/Ubah
            </h1>
            <ol class="breadcrumb">
                <li><a ui-sref="announcement"><i class="fa fa-dashboard"></i> List Pengumuman </a></li>
                <li class="active">Detail</li>
            </ol>
        </section>
    
        <!-- Main content -->
        <section class="content container-fluid">
            <!-- left column -->
            <!-- general form elements -->
            <div class="box box-primary">
                <!-- form start -->
                <form role="form" name="myForm" ng-submit="myForm.$valid && vm.submit()">
                    <div class="box-body">
                        <div class="row">
                            <div class="form-group col-sm-12">
                                <label for="exampleInputEmail1">Judul*</label>
                                <input type="text" required class="form-control" id="title" name="title" ng-model="vm.data.title" placeholder="Masukkan Judul" value>
                            </div>
                            <div class="form-group col-sm-12">
                                <label>Deskripsi Singkat *</label>
                                <input type="text" required class="form-control" id="short_description" name="short_description" ng-model="vm.data.short_description" placeholder="Masukkan Deskripsi Singkat" value>
                            </div>
                            <div>
                                <div class="form-group col-sm-12">
                                    <label>Deskripsi*</label>
                                    <textarea ckeditor class="form-control" id="deskripsi" rows="10" cols="80" placeholder="Masukkan Deskripsi ..." ng-model="vm.data.description" ></textarea>
                                </div>
                            </div>
                        </div>
                        <!-- ./row -->
                    </div>
                    <!-- /.box-body -->
    
                    <div class="box-footer">
                        <div class="pull-right">
                            <button type="button" class="btn btn-default" ng-click="user">Batal</button>
                            <button type="submit" class="btn btn-primary">Simpan</button>
                        </div>
                    </div>
                </form>
                <div box-overlay is-loading="vm.ls.get('loading').get()"></div>            
            </div>
            <!-- /.box -->
    
        </section>
        <!-- /.content -->
    </div>
    <!-- /.content-wrapper -->