<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper" ng-init="vm.init()">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            {{ vm.title }}
        </h1>
        <ol class="breadcrumb">
            <li class="active">{{ vm.title }}</li>
        </ol>
    </section>

    <!-- Main content -->
    <section class="content container-fluid">

        <div class="row">
            <!-- left column -->
            <div class="col-md-12">
                <!-- general form elements -->
                <div class="box box-primary">
                    <div class="box-body">
                        <div class="table-responsive">
                            <table class="table table-bordered">                  
                                <tr>
                                    <th ng-click="vm.sortBy('name')">Label</th>
                                    <th>Name</th>
                                    <th>Action</th>
                                </tr>
                                <tr ng-repeat="x in vm.list | orderBy:vm.propertyName:vm.reverse">
                                    <td><span ng-hide="vm.selectedHash == x._hash">{{ x.label }}</span> <input ng-show="vm.selectedHash == x._hash" ng-model="x.label"></td>
                                    <td><span ng-hide="vm.selectedHash == x._hash">{{ x.name }}</span> <input ng-show="vm.selectedHash == x._hash" ng-model="x.name"></td>
                                    <td class="text-center">
                                        <!-- Cancel and save button -->
                                        <div id="{{x.prop}}" ng-show="vm.selectedHash == x._hash">
                                            <button class="btn btn-danger" ng-confirm-click="Apakah anda yakin ingin Update ?" confirmed-click="vm.init()">Cancel</button>
                                            <button type="button" class="btn btn-warning" title="Ubah Data" ng-click="vm.submit(x)">Simpan</button>
                                        </div>

                                        <!-- Edit and delete button -->
                                        <div ng-hide="vm.selectedHash == x._hash">
                                            <button type="button" class="btn btn-primary" title="Ubah Data" ng-click="vm.edit(x)"><i class="fa fa-pencil"></i></button>
                                            <button class="btn btn-danger" ng-confirm-click="Anda yakin untuk Hapus ?" confirmed-click="vm.delete(x._id)"><i class="fa fa-trash"></i></button>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td ng-show="vm.prop == 2"><input ng-model="x.label"></td>
                                    <td ng-show="vm.prop == 2"><input ng-model="x.name"></td>
                                    <td class="text-center" ng-show="vm.prop == 2">
                                        <!-- Cancel and save button -->
                                        <div>
                                            <button class="btn btn-default" ng-confirm-click="Are you sure to delete this record ?" confirmed-click="vm.init()">Batal</button>
                                            <button type="button" class="btn btn-primary" title="Ubah Data" ng-click="vm.submit(x)">Simpan</button>
                                        </div>
                                    </td>
                                </tr>
                            </table>
                            <button type="button" class="btn btn-primary" title="Tambah Data" ng-click="vm.add()"><i class="fa fa-plus"></i></button>
                        </div>
                    </div>
                    <!-- /.box-body -->
                </div>
                <!-- /.box -->
            </div>
        </div>
    </section>
    <!-- /.content -->
</div>
<!-- /.content-wrapper -->