<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper" ng-init="vm.init()">
        <!-- Content Header (Page header) -->
        <section class="content-header">
            <h1>
                {{ vm.title }}
            </h1>
            <ol class="breadcrumb">
                <li class="active"><i class="fa fa-dashboard"></i> {{ vm.title }}</li>
            </ol>
        </section>
        
        <!-- Main content -->
        <section class="content container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <!-- Search Widget -->
                    <div class="box">
                        <div class="box-header with-border">
                            <h3 class="box-title">Pencarian</h3>
                        </div>
                        <!-- /.box-header -->
                        <div class="box-body">
                            <div class="row">
                                <div class="col-xs-12">
                                    <form role="form" ng-submit="vm.doSearch()">
                                        <div class="form-group">
                                            <label for="exampleInputEmail1">Kata Kunci</label>
                                            <input type="text" class="form-control" id="keyword" placeholder="Enter Kata Kunci" ng-model="vm.search.keyword">
                                        </div>
                                        <div class="pull-right">
                                            <button type="button" class="btn btn-default" ng-click="vm.search.keyword = ''; vm.doSearch()">Clear</button>
                                            <button type="submit" class="btn btn-primary">Cari</button> 
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                        <div box-overlay is-loading="vm.ls.get('loading').get()"></div>
                    </div>
                    <div class="box-body">
                        <div class="row">
                            <div class="col-xs-12">
                                <div class="pull-right">
                                    <button type="button" class="btn btn-warning" ng-confirm-click="Apakah anda yakin tutup buku bulan ini ?" confirmed-click="vm.monthEnd()">
                                        <i class="fa fa-cogs"></i>
                                        Proses Tutup Buku
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- /.box -->
                    <div class="box">
                        <div box-overlay is-loading="vm.ls.get('loading').get()"></div>
                        <div class="box-body">
                            <div class="row">
                                <div class="col-xs-12">
                                    <paging current-page="vm.paginator.current_page" last-page="vm.paginator.last_page" show-page="vm.showPage(page)"></paging>
                                    <div class="table-responsive">
                                        <table class="table table-bordered">                  
                                            <tr>
                                                <th ng-click="vm.sortBy('month')">Bulan <sortable order="vm.getOrderBy('month')"></sortable></th>
                                                <th ng-click="vm.sortBy('year')">Tahun <sortable order="vm.getOrderBy('year')"></sortable></th>
                                                <th>Aktif </th>
                                                <th ng-click="vm.sortBy('closed')">Current Financial <sortable order="vm.getOrderBy('closed')"></sortable></th>
                                            </tr>
                                            <tr ng-repeat="x in vm.list">
                                                <td>{{ vm.monthName[x.month] }}</td>
                                                <td>{{ x.year }}</td>
                                                <td>
                                                    <md-switch ng-model="x.is_selected" aria-label="Switch 1" ng-change="vm.editIsSelected(x)">
                                                    </md-switch>
                                                </td>
                                                <td>
                                                    <span ng-class="{'label label-danger': x.closed, 'label label-success': !x.closed }">{{ x.closed ? 'OFF' : 'ON' }}</span>
                                                </td>
                                            </tr>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>            
                    <!-- /.box -->
                </div>
            </div>
    
        </section>
        <!-- /.content -->
    </div>
    <!-- /.content-wrapper -->