<!-- Extended -->
  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper" ng-init="vm.init()">

    <!-- Content Header (Page header) -->
    <section class="content-header">
      <h1>
        Dashboard
      </h1>
      <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
        <li class="active">Dashboard</li>
      </ol>
    </section>

<section class="content" >
<!-- =========================================================== -->
  <div class="row">
      <!-- Customer Approval -->
        <div class="col-md-3 col-sm-6 col-xs-12">
          <div class="info-box">
            <span class="info-box-icon bg-aqua">
              <i class="ion ion-ios-gear-outline"></i>
              
            </span>
            <div class="info-box-content">
              <span class="info-box-text">Member Approval</span>
              <span class="info-box-number">{{ vm.customerApproval.total_pending }}</span>
            </div>
            
            <!-- /.info-box-content -->
          </div>
          <!-- /.info-box -->
        </div>
        <!-- ./col -->

        <!-- Customer Downline -->
        <div class="col-md-3 col-sm-6 col-xs-12">
            <div class="info-box">
              <span class="info-box-icon bg-green">
                <i class="ion ion-ios-gear-outline"></i>
                
              </span>
              <div class="info-box-content">
                <span class="info-box-text">Member Downline</span>
                <span class="info-box-number">{{ vm.totalCustomer.total }}</span>
              </div>
              
              <!-- /.info-box-content -->
            </div>
            <!-- /.info-box -->
        </div>
        <!-- ./col -->

        <!-- History Downline Earning -->
        <div class="col-md-3 col-sm-6 col-xs-12">
            <div class="info-box">
              <span class="info-box-icon bg-yellow">
                <i class="ion ion-ios-gear-outline"></i>
                
              </span>
              <div class="info-box-content">
                <span class="info-box-text">Downline Earning</span>
                <span class="info-box-number">{{ vm.totalHistoryEarning.total }}</span>
              </div>
              
              <!-- /.info-box-content -->
            </div>
            <!-- /.info-box -->
        </div>
        <!-- ./col -->

        <!-- MPIN -->
        <div class="col-md-3 col-sm-6 col-xs-12">
            <div class="info-box">
              <span class="info-box-icon bg-red">
                <i class="ion ion-ios-gear-outline"></i>
                
              </span>
              <div class="info-box-content">
                <span class="info-box-text">MPIN</span>
                <span class="info-box-number">{{ vm.totalMPin.total_pending }}</span>
              </div>
              
              <!-- /.info-box-content -->
            </div>
            <!-- /.info-box -->
        </div>
        <!-- ./col -->
       </div>
      <!-- /.row -->

<!-- =========================================================== -->

<div class="row">
    <div class="col-md-12">
        <div class="box">
          <div class="box-header with-border">
            <h3 class="box-title">Report Rekap Bulanan</h3>

            <div class="box-tools pull-right">
              <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
              </button>
              <div class="btn-group">
                <button type="button" class="btn btn-box-tool dropdown-toggle" data-toggle="dropdown">
                  <i class="fa fa-wrench"></i></button>
                <ul class="dropdown-menu" role="menu">
                  <li><a href="#">Action</a></li>
                  <li><a href="#">Another action</a></li>
                  <li><a href="#">Something else here</a></li>
                  <li class="divider"></li>
                  <li><a href="#">Separated link</a></li>
                </ul>
              </div>
              <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
            </div>
          </div>
          <!-- /.box-header -->
          <div class="box-body">
            <div class="row">
              <div class="col-md-8">
                <p class="text-center">
                  <strong>Sales: 1 {{ vm.month[vm.month.length - 1] }}, {{ vm.year[0] }} - {{ vm.day }} {{ vm.month[0] }}, {{ vm.year[0] }}</strong>
                </p>

                <div class="chart">
                  <div box-overlay is-loading="vm.ls.get('loading').get()"></div>
                  <!-- Sales Chart Canvas -->
                  <canvas id="salesChart" style="height: 180px;"></canvas>
                </div>
                <!-- /.chart-responsive -->
              </div>
              <!-- /.col -->
              <div class="col-md-4">
                <p class="text-center">
                  <strong>Goal Completion</strong>
                </p>
                <div class="progress-group">
                  <span class="progress-text">Complete Approval</span>
                  <span class="progress-number"><b>{{ (vm.customerApproval.total - vm.customerApproval.total_pending) }}</b>/{{ vm.customerApproval.total }}</span>
                  <div class="progress sm">
                    <div class="progress-bar progress-bar-aqua" ng-style="{ 'width' : vm.percentStatusStyleMember }"></div>
                  </div>
                </div>
                <!-- /.progress-group -->
                <div class="progress-group">
                  <span class="progress-text">Complete Register MPIN</span>
                  <span class="progress-number"><b>{{ (vm.totalMPin.total - vm.totalMPin.total_pending) }}</b>/{{ vm.totalMPin.total }}</span>

                  <div class="progress sm">
                    <div class="progress-bar progress-bar-red" ng-style="{ 'width' : vm.percentMpinStyleMember }"></div>
                  </div>
                </div>
                <!-- /.progress-group -->
              </div>
              <!-- /.col -->
            </div>
            <!-- /.row -->
          </div>
          <!-- ./box-body -->
        </div>
</div>
<!-- /.row -->


</div>
<!-- /.row -->
<!-- =========================================================== -->
</section>
  </div>