<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper" ng-init="vm.init()">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            {{ vm.title }}
            <a ui-sref="employee-create" class="btn btn-primary"><i class="fa fa-plus"></i></a>
        </h1>
        <ol class="breadcrumb">
            <li class="active"><i class="fa fa-dashboard"></i> {{ vm.title }}</li>
        </ol>
    </section>
    
    <!-- Main content -->
    <section class="content container-fluid">
        <div class="row">
            <div class="col-md-12">
                <!-- Search Widget -->
                <div class="box">
                    <div class="box-header with-border">
                        <h3 class="box-title">Pencarian</h3>
                    </div>
                    <!-- /.box-header -->
                    <div class="box-body">
                        <div class="row">
                            <div class="col-xs-12">
                                <form role="form" ng-submit="vm.doSearch()">
                                    <div class="form-group">
                                        <label for="exampleInputEmail1">Kata Kunci</label>
                                        <input type="text" class="form-control" id="keyword" placeholder="Enter Kata Kunci" ng-model="vm.search.keyword">
                                    </div>
                                    <div class="pull-right">
                                        <button type="button" class="btn btn-default" ng-click="vm.search.keyword = ''; vm.doSearch()">Clear</button>
                                        <button type="submit" class="btn btn-primary">Cari</button> 
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                    <div box-overlay is-loading="vm.ls.get('loading').get()"></div>
                </div>
                <!-- /.box -->
                <div class="box">
                    <div box-overlay is-loading="vm.ls.get('loading').get()"></div>
                    <div class="box-body">
                        <div class="row">
                            <div class="col-xs-12">
                                <paging current-page="vm.paginator.current_page" last-page="vm.paginator.last_page" show-page="vm.showPage(page)"></paging>
                                <div class="table-responsive">
                                    <table class="table table-bordered">
                                        <tr>
                                            <th style="width: 10px">#</th>
                                            <th ng-click="vm.sortBy('employee_code')">No Karyawan <sortable order="vm.getOrderBy('employee_code')"></sortable></th>
                                            <th ng-click="vm.sortBy('fullname')">Fullname <sortable order="vm.getOrderBy('fullname')"></sortable></th>
                                            <th ng-click="vm.sortBy('departement_info.name')">Departement <sortable order="vm.getOrderBy('departement_info.name')"></sortable></th>
                                            <th>Mobile</th>
                                            <th>Status </th>
                                            <th ng-click="vm.sortBy('employee_status_info.name')">Status Karyawan <sortable order="vm.getOrderBy('employee_status_info.name')"></sortable></th>
                                            <th>Action </th>
                                        </tr>
                                        <tr ng-repeat="x in vm.list">
                                            <td>{{ $index + 1 }}</td>
                                            <td>{{ x.employee_code }}</td>
                                            <td>{{ x.fullname }}</td>
                                            <td>{{ x.departement_info }}</td>
                                            <td>{{ x.hp }}</td>
                                            <td>{{ x.status_info }}</td>
                                            <td>{{ x.employee_status_info }}</td>
                                            <td class="text-center">
                                                <a ui-sref="employee-detail({id: x._id})">
                                                    <button type="button" class="btn btn-warning" title="Ubah Data">
                                                    <i class="fa fa-pencil"></i>
                                                    </button>
                                                </a>
                                            </td>
                                        </tr>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>            
                <!-- /.box -->
            </div>
        </div>

    </section>
    <!-- /.content -->
</div>
<!-- /.content-wrapper -->