<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper" ng-init="vm.create()">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            Tambah/Ubah
        </h1>
        <ol class="breadcrumb">
            <li><a ui-sref="employee"><i class="fa fa-dashboard"></i> List Karyawan </a></li>
            <li class="active">Detail</li>
        </ol>
    </section>

    <!-- Main content -->
    <section class="content container-fluid">
        <!-- left column -->
        <!-- general form elements -->
        <h4>Data Pribadi</h4>
        <div class="box box-primary">
            <!-- form start -->
            <form role="form" name="myForm" ng-submit="myForm.$valid && vm.submit()">
                <div class="box-body">
                    <div class="row">
                        <div class="form-group col-sm-12">
                            <label for="exampleInputEmail1">Nama Karyawan*</label>
                            <input type="text" required class="form-control" id="fullname" name="fullname" ng-model="vm.data.fullname" placeholder="Masukkan Name" value>
                        </div>
                        <div class="form-group col-sm-4">
                            <label>Tanggal Lahir*</label>
                            <div class="input-group date">
                                <div class="input-group-addon">
                                  <i class="fa fa-calendar"></i>
                                </div>
                                <input type="text" class="form-control datepicker pull-right" ng-datetime-picker id="tanggal-dibuat" ng-model="vm.data.dob" autocomplete="off" placeholder="Masukkan Tanggal Bergabung" required>
                            </div>
                        </div>
                        <div class="form-group col-sm-4">
                            <label>Jenis Kelamin*</label>
                            <select class="form-control select2" id="gender" name="gender" ng-model="vm.data.gender" ng-select2 placeholder="Pilih Jenis Kelamin" required>
                                <option></option>
                                <option ng-repeat="x in vm.genders" value="{{ (x.id) }}">{{ x.name }}</option>
                            </select>
                        </div>
                        <div class="form-group col-sm-4">
                            <label>Status*</label>
                            <select class="form-control select2" id="status_id" name="status_id" ng-model="vm.data.status_id" ng-select2 placeholder="Pilih Status" required>
                                <option></option>
                                <option ng-repeat="x in vm.statuses" value="{{ (x._id) }}">{{ x.label }}</option>
                            </select>
                        </div>
                        <div class="form-group col-sm-12">
                            <label>Nama Ayah*</label>
                            <input type="text" required class="form-control" id="father_name" name="father_name" ng-model="vm.data.father_name" placeholder="Masukkan Nama Ayah">
                        </div>
                        <div class="form-group col-sm-12">
                            <label>Kebangsaan*</label>
                            <select class="form-control select2" id="nationality_id" name="nationality_id" ng-model="vm.data.nationality_id" ng-select2 placeholder="Pilih Kebangsaan" required>
                                <option></option>
                                <option ng-repeat="x in vm.countries" value="{{ (x._id) }}">{{ x.name }}</option>
                            </select>
                        </div>
                        <div class="form-group col-sm-12">
                            <label for="exampleInputEmail1">Nomor Paspor</label>
                            <input type="text" class="form-control" id="pasport_number" ng-model="vm.data.pasport_number" placeholder="Masukkan Nomor Paspor">
                        </div>
                        <div class="form-group col-sm-6">
                            <div class="fileinput fileinput-new">
                                <div class="thumbnail" style="width: 150px; height: 150px;" ng-model="vm.data.photo" name="file" ngf-pattern="'image/*'"
                                    ngf-accept="'image/*'" ngf-max-size="2MB" ngf-min-height="100"
                                    ngf-resize="{width: 350, height: 260}" ngf-model-invalid="errorFile" ngf-select="vm.uf.onFileSelect($file, vm.data._id)">
                                    <img ng-show="!vm.data.photo.result && !vm.data.photo_url" src="http://placehold.it/350x260" alt="Please Connect Your Internet">
                                    <img ng-show="vm.data.photo.result" ngf-thumbnail="vm.data.photo.result">
                                    <img ng-show="!vm.data.photo.result" ngf-thumbnail="vm.data.photo_url">
                                </div>
                                <div class="progress md">
                                    <div class="progress-bar progress-bar-aqua" style="width:{{vm.data.photo.progress}}%" ng-bind="vm.data.photo.progress + '%'"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- ./row -->
                </div>
                <h4>Hubungi</h4>
                <div class="box box-primary">
                    <div class="box-body">
                        <div class="row">
                            <div class="form-group col-sm-12">
                                <label>Alamat*</label>
                                <textarea class="form-control" id="address" rows="3" placeholder="Masukkan Alamat ..." ng-model="vm.data.address"></textarea>
                            </div>
                            <div class="form-group col-sm-12">
                                <label>Kota*</label>
                                <input type="text" required class="form-control" id="city" ng-model="vm.data.city" placeholder="Masukkan Kota">
                            </div>
                            <div class="form-group col-sm-12">
                                <label>Negara*</label>
                                <select class="form-control select2" id="country_id" name="country_id" ng-model="vm.data.country_id" ng-select2 placeholder="Pilih Negara" required>
                                    <option></option>
                                    <option ng-repeat="x in vm.countries" value="{{ (x._id) }}">{{ x.name }}</option>
                                </select>
                            </div>
                            <div class="form-group col-sm-4">
                                <label>HP*</label>
                                <input type="text" required class="form-control" id="hp" ng-model="vm.data.hp" placeholder="Masukkan HP">
                            </div>
                            <div class="form-group col-sm-4">
                                <label>Telp</label>
                                <input type="text" class="form-control" id="phone_number" ng-model="vm.data.phone_number" placeholder="Masukkan Telp">
                            </div>
                            <div class="form-group col-sm-4">
                                <label>Email*</label>
                                <input type="text" required class="form-control" id="email" ng-model="vm.data.email" placeholder="Masukkan Email">
                            </div>
                        </div>
                    </div>
                </div>
                <h4>Status Resmi</h4>
                <div class="box box-primary">
                    <div class="box-body">
                        <div class="row">
                            <div class="form-group col-sm-4">
                                <label>ID Karyawan*</label>
                                <input type="text" required class="form-control" id="employee_code" ng-model="vm.data.employee_code" placeholder="Masukkan ID Karyawan" required>
                            </div>
                            <div class="form-group col-sm-4">
                                <label>Divisi*</label>
                                <select class="form-control select2" id="departement_id" name="departement_id" ng-model="vm.data.departement_id" ng-select2 placeholder="Pilih Departement" required>
                                    <option></option>
                                    <option ng-repeat="x in vm.departements" value="{{ (x._id) }}">{{ x.name }}</option>
                                </select>
                            </div>
                            <div class="form-group col-sm-4">
                                <label>Tanggal Bergabung*</label>
                                <div class="input-group date">
                                    <div class="input-group-addon">
                                        <i class="fa fa-calendar"></i>
                                    </div>
                                    <input type="text" class="form-control datepicker pull-right" ng-datetime-picker class="form-control" id="join_date" ng-model="vm.data.join_date" placeholder="Masukkan Tanggal Bergabung" autocomplete="off required">
                                </div>
                            </div>
                            <div class="form-group col-sm-4">
                                <label>Status Karyawan*</label>
                                <select class="form-control select2" id="employee_status_id" name="employee_status_id" ng-model="vm.data.employee_status_id" ng-select2 placeholder="Pilih Status Karyawan" required>
                                    <option></option>
                                    <option ng-repeat="x in vm.employee_statuses" value="{{ (x._id) }}">{{ x.label }}</option>
                                </select>
                            </div>
                            <div class="form-group col-sm-4">
                                <label>Jabatan*</label>
                                <select class="form-control select2" id="employee_type_id" name="employee_type_id" ng-model="vm.data.employee_type_id" ng-select2 placeholder="Pilih Status Karyawan" required>
                                    <option></option>
                                    <option ng-repeat="x in vm.employee_types" value="{{ (x._id) }}">{{ x.label }}</option>
                                </select>
                            </div>
                            <div class="form-group col-sm-4">
                                <label>Atasan*</label>
                                <select class="form-control select2" id="parent_id" name="parent_id" ng-model="vm.data.parent_id" ng-select2 placeholder="Pilih Atasan">
                                    <option></option>
                                    <option ng-repeat="x in vm.employees" value="{{ (x._id) }}">{{ x.fullname }}</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
                <h4>Login System</h4>
                <div class="box box-primary">
                    <div class="box-body">
                        <div class="row">
                            <div class="form-group col-sm-4">
                                <label>Username*</label>
                                <input type="text" required class="form-control" id="username" ng-model="vm.data.username" placeholder="Masukkan Username" required>
                                <br/>
                                <button type="button" class="btn btn-primary" ng-click="vm.generate({string: vm.data.fullname, key: 'username'})">Generate</button>
                            </div>
                            <div class="form-group col-sm-4">
                                <label>Password*</label>
                                <input type="text" required class="form-control" id="password" ng-model="vm.data.password" placeholder="Masukkan Password" required>
                                <br/>
                                <button type="button" class="btn btn-primary" ng-click="vm.generate({})">Generate</button>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /.box-body -->
                <div class="box-footer">
                    <div class="pull-right">
                        <button type="button" class="btn btn-default" ng-click="user">Batal</button>
                        <button type="submit" class="btn btn-primary">Simpan</button>
                    </div>
                </div>
            </form>
            <div box-overlay is-loading="vm.ls.get('loading').get()"></div>            
        </div>
        <!-- /.box -->

    </section>
    <!-- /.content -->
</div>
<!-- /.content-wrapper -->