<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper" ng-init="vm.create()">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            Detail Cuti
            <span class="text-bold text-yellow">{{ vm.data.status.label }}</span>
        </h1>
        <ol class="breadcrumb">
            <li><a ui-sref="paid-leave"><i class="fa fa-dashboard"></i> List Cuti </a></li>
            <li class="active">Detail</li>
        </ol>
    </section>

    <!-- Main content -->
    <section class="content container-fluid">
        <!-- left column -->
        <!-- general form elements -->
        <div class="box box-primary">
            <!-- form start -->
            <form role="form" name="myForm" ng-submit="myForm.$valid && vm.submit()">
                <div class="box-body">
                    <div class="row">
                        <div class="form-group col-sm-12">
                            <div class="text-right" ng-if="!vm.isCreate()">
                                <button type="button" class="btn btn-primary" ng-class="{'disabled': vm.ls.get('print').get()}" ng-click="vm.download(vm.data._id, '0')"><i class="fa fa-print"></i> Print <i class="fa fa-refresh fa-spin" ng-show="vm.ls.get('print').get()"></i></button>
                            </div>
                            <label for="exampleInputEmail1">Alasan Cuti*</label>
                            <select class="form-control select2" id="category_leave_id" name="category_leave_id" ng-model="vm.data.category_leave_id" ng-select2 placeholder="Pilih Kategori Cuti" required>
                                <option></option>
                                <option ng-repeat="x in vm.category_paid_leave" value="{{ (x._id) }}">{{ x.label }}</option>
                            </select>
                        </div>
                        <div class="form-group col-sm-6">
                            <label>Mulai Cuti*</label>
                            <div class="input-group date">
                                <div class="input-group-addon">
                                  <i class="fa fa-calendar"></i>
                                </div>
                                <input type="text" class="form-control datepicker pull-right" ng-datetime-picker id="start-date" ng-model="vm.data.start_date" autocomplete="off" placeholder="Masukkan Tanggal Mulai Cuti" required>
                            </div>
                        </div>
                        <div class="form-group col-sm-6">
                            <label>Akhir Cuti*</label>
                            <div class="input-group date">
                                <div class="input-group-addon">
                                    <i class="fa fa-calendar"></i>
                                </div>
                                <input type="text" class="form-control datepicker pull-right" ng-datetime-picker id="end-date" ng-model="vm.data.end_date" autocomplete="off" placeholder="Masukkan Tanggal Akhir Cuti" required>
                            </div>
                        </div>
                        <div class="form-group col-sm-12">
                            <label>Catatan*</label>
                            <textarea class="form-control" id="notes" rows="3" placeholder="Masukkan Catatan ..." ng-model="vm.data.notes"></textarea>
                        </div>
                    </div>
                    <!-- ./row -->
                </div>
                <!-- /.box-body -->
                <div class="box-footer">
                    <div class="pull-right">
                        <button type="button" class="btn btn-default" ng-click="user">Batal</button>
                        <button ng-if="vm.isDraft() || vm.isCreate()" type="submit" class="btn btn-primary">Simpan Sebagai Draft</button>
                        <button ng-if="vm.isDraft() || vm.isCreate()" type="submit" class="btn btn-primary" ng-click="vm.sendToManager = 1">Simpan & Ajukan</button>
                    </div>
                </div>
            </form>
            <div box-overlay is-loading="vm.ls.get('loading').get()"></div>            
        </div>
        <!-- /.box -->

    </section>
    <!-- /.content -->
</div>
<!-- /.content-wrapper -->